:root {
    --card--bg: white;
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.card {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: min-content;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem 4rem;


}

.picture {
    width: 300px;
    height: 300px;
    position: relative;
    background: url(./images/illustration-woman-online-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: -5%
}

.picture img {
    position: absolute;
    width: 200px;
    height: auto;
    top: 50%;
    left: -20%;
    transform: translateY(-30%);
}

.faq {
    width: 300px;
    height: min-content;
}

.question {
    cursor: pointer;
}

.question__btn {
    transform-origin: 50% 50%;
}

.answer {
    background-color: white;
    display: none;
    overflow: hidden;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
