@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --card--bg: white;
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --divider-color: hsl(240, 5%, 91%);
    --question-hover: hsl(14, 88%, 65%);

    --ff-text: font-family: 'Kumbh Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}
body {
    overflow: scroll;
}

.card {
    font-family: 'Kumbh Sans', sans-serif;
    width: 1920px;
    height: 1080px;
    background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

}

.container {
    min-width: min-content;
    min-height: 500px; /*must be longer than faq height due to margin */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem 4rem;
    overflow: visible;
}

/***************layout pictures***********************/

.picture {
    width: 300px;
    height: 300px;
    position: relative;
}

.picture__bg {
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-40%);
    left: -10%;
}

.picture__mid {
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    left: -10%;
}

.picture__fore {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(./images/illustration-box-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-30%);
    left: -32%;
}


/***************layout Q&As***********************/
.faq {
    width: 530px;
    height: 400px; /*enough height for full expansion of accordion so no layout shift */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 5rem;
}

.faq__title {
    margin-bottom: 1rem;
    font-size: bold;
}


.faq__qa {
    width: 430px;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--divider-color);
    font-size: 1.3rem;

}

.question {
    cursor: pointer;
    line-height: 2rem;
    white-space:nowrap; /*no text wrapping to set width*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.7rem 0 0.7rem 0;
}

.question.active {
    font-weight: bold;
}

.question:hover {
    color: var(--question-hover);
}

.question__btn {
    transform-origin: 50% 50%;
    margin-left: 2rem;
}

.answer {
    font-size: 1.1rem;
    background-color: white;
    display: none;
    overflow: hidden;
    line-height: 2rem;
    white-space: wrap;
}

/************media query************************/

@media screen and (max-width: 800px) {



    .card {
        width: 1080px;
        min-height: 1920px;
    }

    .container {
        flex-direction: column;
        min-width: 600px;
        min-height: min-content;
    }
    .picture {
        margin-top: -30%;
    }

    .picture__bg {
        top: 0;
        left: 0;
        transform: translateY(0);

    }
    
    .picture__mid {
        top: 0;
        left: 0;
        transform: translateY(0);

    }
    
    .picture__fore {
        top: 50%;
        left: 50%;
        transform: translateX(-100%);
    }

    .faq {
        height: 500px;
    }
}


.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
